/* 
    Created on : 30-Dec-2015, 13:35:29
    Author     : silvana.donato
*/

$header-height: 200px;
$header-height-small: 10px;

$blocks-padding-height: 60px;
$callout-width: 180px;
$callout-height: 150px;

$font-stack-size: 16px;
$font-callout-size: 17px;